name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test-linux-stable:
    name: Stable on Linux
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout out repository
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install latest stable Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            override: true
            components: rustfmt, clippy

      - name: Run cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --verbose

      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose

  test-linux-nightly:
    name: Nightly on Linux
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout out repository
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install latest nightly Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: nightly
            override: true
            components: rustfmt, clippy

      - name: Run cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --verbose

      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose

  test-macos-stable:
    name: Stable on macOS
    runs-on: macos-11
    steps:
      - name: Checkout out repository
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install latest stable Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            override: true
            components: rustfmt, clippy

      - name: Run cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --verbose

      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose

  test-ios-cross-stable:
    name: Stable on iOS (Cross Compilation)
    runs-on: macos-11
    steps:
      - name: Checkout out repository
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Install latest stable Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            target: aarch64-apple-ios
            override: true
            components: rustfmt, clippy

      - name: Run cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --target aarch64-apple-ios --verbose

  test-ios-simul-stable:
    name: Stable on iOS (Simulation)
    runs-on: macos-11
    steps:
      - name: Checkout out repository
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install latest stable Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            target: x86_64-apple-ios
            override: true

      - name: Install cargo dinghy
        run: cargo install cargo-dinghy

      - name: Run cargo test
        run: |
          export RUNTIME_ID=$(xcrun simctl list runtimes | grep iOS | cut -d ' ' -f 7 | tail -1)
          export SIMULATOR_ID=$(xcrun simctl create iPhoneSimulator com.apple.CoreSimulator.SimDeviceType.iPhone-8 $RUNTIME_ID)
          xcrun simctl boot $SIMULATOR_ID
          cargo dinghy test --target x86_64-apple-ios


  test-windows-msvc-stable:
    name: Stable on Windows (MSVC)
    runs-on: windows-2022
    steps:
      - name: Checkout out repository
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install Ninja
        uses: seanmiddleditch/gha-setup-ninja@master

      - name: Install latest stable Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            target: x86_64-pc-windows-msvc
            override: true
            components: rustfmt, clippy

      - name: Run cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --target x86_64-pc-windows-msvc --verbose

      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose

  test-windows-msvc-static-stable:
    name: Stable on Windows (MSVC, static CRT)
    runs-on: windows-2022
    env:
      RUSTFLAGS: "-C target-feature=+crt-static"
    steps:
      - name: Checkout out repository
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install Ninja
        uses: seanmiddleditch/gha-setup-ninja@master

      - name: Install latest stable Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            target: x86_64-pc-windows-msvc
            override: true
            components: rustfmt, clippy

      - name: Run cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --target x86_64-pc-windows-msvc --verbose

      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose

  test-windows-gnu-stable:
    name: Stable on Windows (GNU)
    runs-on: windows-2022
    steps:
      - name: Checkout out repository
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install MinGW
        uses: egor-tensin/setup-mingw@v2
        with:
          platform: x64

      - name: Install Ninja
        uses: seanmiddleditch/gha-setup-ninja@master

      - name: Install latest stable Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            target: x86_64-pc-windows-gnu
            override: true
            components: rustfmt, clippy

      - name: Run cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --target x86_64-pc-windows-gnu --verbose

      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose
