name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test-linux-stable:
    name: Stable on Linux
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout out repository
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install latest stable Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            override: true
            components: rustfmt, clippy

      - name: Run cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --verbose

      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose

  test-linux-nightly:
    name: Nightly on Linux
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout out repository
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install latest nightly Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: nightly
            override: true
            components: rustfmt, clippy

      - name: Run cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --verbose

      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose

  test-macos-stable:
    name: Stable on macOS
    runs-on: macos-11
    steps:
      - name: Checkout out repository
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install latest stable Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            override: true
            components: rustfmt, clippy

      - name: Run cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --verbose

      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose

  test-ios-cross-stable:
    name: Cross-compiling to iOS on Linux
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout out repository
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install latest stable Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            target: aarch64-apple-ios
            override: true
            components: rustfmt, clippy

      - name: Run cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --target aarch64-apple-ios --verbose
